{{#partial "title"}}
    {{name}}
{{/partial}}


{{#partial "content"}}
    <a href="/person">back</a>
    <ul>
        <li> Name: {{name}}</li>
        <li> Age: {{age}}</li>
        <li> NIN: {{nin}}</li>
    </ul>
{{/partial}}



{{> base.hbs}}